html,
body {
  background: #000000;
  color: white;
  margin: 0;
  padding: 0;
}
.note {
background: #0cb733;
margin : 15px; 
padding: 8px; 
}
.btn {
  position:absolute;
  bottom:15px;
  left:15px; 
  background: #0094ff;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 2em; 
  border: none;

  border-radius: 180px;
}
  