html,
body {
  background: #000000;
  margin: 0;
  padding: 0;
  font-family: Courier New, Courier, monospace;
}

.note {
  background: #BADA55;
  margin: 15px;
  padding: 15px;
}

.btn {  
  border: none;
  position: absolute;
  bottom: 15px;
  background: #133337;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 2em;
  /* Circle button */
  border-radius: 32px;
}

.btn-left {
  left: 15px;
}

.btn-right {
  right: 15px;
}
